<div class="bg-white">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Description</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody id="tbody_list">
    </tbody>
  </table>

</div>

<script>
  
  $(document).ready(function() {
    getList()
  })

  function getList() {
    $.ajax({
      url: '/notes/list',
      type: 'GET'
    }).then(function(res){
      console.log(res.data)
      res.data.map(function(item, index) {
        $('#tbody_list').append(
          createRow({id:item._id, number: index, title: item.title, description: item.description })
        )
      })
      {{!-- Object.keys(res.data).forEach(function(i){
        
        
      }) --}}
      
    })
  }

  function createRow(obj) {

    let row = `<tr>
      <th scope="row">${obj.number}</th>
      <td>${obj.title}</td>
      <td>${obj.description}</td>
      <td id="${obj.id}">@twitter</td>
    </tr>`
    return row
  }

</script>
